@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
  height: 100vh;
  margin: 0;
  overflow: hidden;
  font-family: Roboto, sans-serif;
  display:flex;
  flex-direction:column;
}

img {
  width: 600px;
}

button {
  font-family: Roboto, sans-serif;
  border: none;
  border-radius: 8px;
  background: #eee;
  padding:10px 18px;
}

input {
  border: 1px solid #ddd;
  border-radius: 16px;
  padding: 8px 24px;
  width: 400px;
}

.content{
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items:center;
  flex:1;
  gap:16px;
}

.footer{
  background-color:#eeeeee;
  display:flex;
  justify-content:space-between;
  padding:18px;
  margin-top:16px;
}

ul{
  list-style-type:none;
  display:flex;
  gap:16px;
  margin:0;
  padding:0;
}

.header{
  display:flex;
  justify-content:space-between;
  padding:8px;
}

a{
  text-decoration:none;
  color:grey;
}

/*header and footer can be clumped together, having a separate declaration for the footer colour, since most of em are having similar qualities*/


