/* Add CSS Styling */
.odd{
    background-color:rgb(246, 197, 205);
    font-family:Verdana,"DejaVu Sans", sans-serif;


}

#two{
    color:#0000ff;
    font-size:36px;
}

#four{
    background-color: #90ee90;
    font-weight:bold;
}

.change-font-size{
    font-size:24px;
}